* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
}

body {
  background-color: white;
}

.row {
  background-color: white;
  border-radius: 30px;
}

.btns {
  background-color: #1fa496;
  color: white;
  width: 100%;
}

.btns:hover {
  background-color: rgba(31, 164, 150, 0.6);
}

.first-btn {
  border: none;
}

.second-btn {
  background-color: white;
  color: #1fa496;
  border-color: #1fa496;
}

.section-img {
  background-color: #bef2ec;
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-form {
  padding-top: 100px;
  padding-bottom: 70px;
}

hr {
  width: 80px;
}

.header {
  text-align: center;
}

img {
  width: 50%;
}

#back-home {
  color: #1fa496;
}

.text {
  text-align: center;
}
