/* Main section CSS */

.contact {
  position: relative;
  min-height: 80vh;
  padding: 50px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(var(--color-primary-gradient), var(--color-primary-gradient)), url(../resources/images/background/contact-bg.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 40px;
  font-weight: 600;
  color: white;
}
.contact .content p {
  font-weight: 300;
  color: white;
  padding-bottom: 10px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon {
  min-width: 50px;
  height: 50px;
  background: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
}

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: var(--color-secondary);
  flex-direction: column;
  font-weight: 300;
}

.container .contactInfo .box .text a {
  /* font-weight: bold; */
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: white;
}

.contactForm h2 {
  font-size: 28px;
  color: var(--color-fourth);
  font-weight: 600;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid var(--color-fourth);
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: var(--color-primary);
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: var(--color-fourth);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.contactForm .inputBox input[type="submit"]:active {
  opacity: 0.8;
}

/* Responsiveness */

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
    width: 100%;
    padding-left: 30px;
  }
  .contactForm {
    margin-bottom: 40px;
    width: 80%;
  }
}
