/* Main section CSS */

section {
  width: 100%;
  padding: 2rem 0;
  background-image: linear-gradient(var(--color-primary-gradient), var(--color-primary-gradient)), url(../resources/images/background/faq-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  transition: 0.5s;
}
.external-container {
  text-align: center;
  padding: 2rem;
}
.external-container h2 {
  font-size: 40px;
  font-weight: 600;
  padding-top: 10px;
  color: white;
}
.external-container p {
  font-weight: 300;
  color: white;
  padding-top: 7px;
  padding-bottom: 4rem;
}
.link {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.1rem;
}
.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.accordion {
  width: 80%;
  margin: 0 auto;
}

.accordion-item {
  background-color: var(--color-secondary);
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
}

.accordion-link {
  font-size: 1.6rem;
  color: var(--color-primary);
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.accordion-link:hover {
  background: transparent;
}

.accordion i {
  color: var(--color-primary);
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
}

.answer {
  position: relative;
  background-color: var(--color-fourth);
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms;
}

.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  /* background-color: #8fc460; */
  background-color: var(--color-primary);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p {
  color: white;
  font-size: 0.9rem;
  padding: 1.4rem;
}

.accordion-item:target .answer {
  max-height: 12rem;
}
@media (max-width: 750px) {
  .accordion {
    width: 100%;
  }
}
