* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
}
body {
  font-family: "Montserrat";
  background-color: white;
}
header {
  background: #d6dfed;
}

.nav__logo {
  height: 90px;
  width: auto;
  padding-left: 50px;
}

.row {
  background-color: white;
  border-radius: 30px;
}

.btns {
  color: white;
  width: 100%;
}

.doctor-c {
  background-color: #ff9999;
}

#patient-c {
  background-color: #bef2ec;
}

.section-img {
  background-color: #ff9999;
  padding-top: 70px;
  padding-bottom: 70px;
}

#patient-first-btn {
  border: none;
  background-color: #1fa496;
}

#patient-second-btn {
  background-color: white;
  color: #1fa496;
  border-color: #1fa496;
}

#patient-second-btn:hover,
#patient-first-btn:hover {
  background-color: rgba(31, 164, 150, 0.6);
}

.section-form {
  padding-top: 100px;
  padding-bottom: 70px;
}

hr {
  width: 80px;
}

.header {
  text-align: center;
}

img {
  width: 50%;
}

#back-home-patient {
  color: #1fa496;
}

#back-home-doctor {
  color: #800000;
}

#doctor-first-btn {
  border: none;
  background-color: #800000;
}

#doctor-first-btn:hover,
#doctor-second-btn:hover {
  background-color: rgba(128, 0, 0, 0.6);
}

#doctor-second-btn {
  background-color: white;
  color: #800000;
  border-color: #800000;
}

.text {
  text-align: center;
}

.footer {
  padding: 2rem 0.5rem;
  background: #d6dfed;
  /* background-color: var(--color-secondary); */
}

.footer__link {
  font-size: 1rem;
  color: var(--color-primary);
  text-decoration: none;
}

.footer__logo {
  height: 7rem;
  width: auto;
  display: block;
  margin: 0 auto;
  /* margin-bottom: 5rem; */
}

.footer__copyright {
  font-size: 0.7rem;
  color: var(--color-primary);
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 0.8rem;
}

.invalid-feedback {
  display: block !important;
}
