/* Main section CSS */

.news {
  position: relative;
  min-height: 80vh;
  padding: 50px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(var(--color-primary-gradient), var(--color-primary-gradient)), url(../resources/images/background/news-bg.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
}
.news .content {
  max-width: 800px;
  text-align: center;
}
.news .content h2 {
  font-size: 40px;
  padding-top: 50px;
  font-weight: 600;
  color: white;
}
.news .content p {
  font-weight: 300;
  color: white;
  padding-bottom: 10px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .newsOutletList {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
  margin-bottom: 350px;
}

.container .newsOutletList h2 {
  font-size: 28px;
  color: white;
  font-weight: 600;
  padding-bottom: 10px;
}

.container .newsOutletList h4 span {
  font-size: 17px;
  color: var(--color-fourth);
  font-weight: 600;
}

.container .newsOutletList h4 {
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-align: justify;
}
.container .newsOutletList h4 a {
  color: var(--color-third);
  font-weight: 500;
  font-size: 17px;
}

.newsOutletsTopPicks {
  width: 30%;
  background: white;
  padding: 50px;
  border-radius: 5px;
}

.newsOutletsTopPicks h2 {
  font-size: 28px;
  color: var(--color-fourth);
  font-weight: 600;
}
.newsOutletsTopPicks .newsOutlet h3 {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--color-primary);
  font-weight: 600;
}

.newsOutletsTopPicks .newsOutlet p {
  font-size: 15px;
  padding-top: 7px;
  padding-bottom: 20px;
  color: var(--color-primary);
  font-weight: 600;
}

.newsOutletsTopPicks .newsOutlet img {
  width: 90%;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.newsOutlet img:hover {
  transform: scale(1.1);
}

/* Responsiveness */

@media (max-width: 1200px) {
  .news {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .newsOutletList {
    width: 85%;
    margin: 0 auto;
    padding: 0;
  }
  .newsOutletsTopPicks {
    margin-top: 40px;
    width: 100%;
  }
  .news .content h2 {
    padding-top: 10px;
  }
}
