/* Main section CSS */

section {
  width: 100%;
  background-color: white;
}
.welcome {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0;
}

.welcome .content {
  max-width: 800px;
  text-align: center;
}
.welcome .content h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--color-primary);
}
.welcome .content p {
  font-weight: 300;
  color: var(--color-primary);
  padding-bottom: 10px;
}
.row {
  /* border: 1px solid orange; */
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1em;
  text-align: center;
  width: 70%;
  margin: auto;
}
.column {
  width: 100%;
  /* border: 1px solid black; */
  padding: 0.5em 0;
}
section h2 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: var(--color-primary);
}
.card {
  box-shadow: 0 0 2.2em rgba(29, 22, 105, 0.386);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: var(--color-primary);
}

.card .img-container {
  width: 8em;
  height: 8em;
  background-color: var(--color-fourth);
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card:hover .img-container {
  transform: scale(1.15);
}
.card img {
  width: 100%;
  border-radius: 50%;
}
.card h3 {
  font-weight: 700;
  color: var(--color-primary);
  font-size: 20px;
}
.card h5 {
  /* font-weight: 500; */
  padding-top: 5px;
  color: var(--color-primary);
  font-size: 13px;
}
.card p {
  /* font-weight: 500; */
  padding-top: 5px;
  color: var(--color-primary);
  font-size: 13px;
}

.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.card a {
  text-decoration: none;
  color: var(--color-fourth);
  font-size: 1.4em;
  padding: 0.5rem 1rem;
}
.card a:hover {
  color: white;
  background-color: var(--color-fourth);
}

/* Responsiveness */

@media screen and (min-width: 1060px) {
  /* section {
      padding: 1em 4em;
    } */
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 1em;
  }
}
