:root {
  --color-primary: #2a4078;
  --color-secondary: #d6dfed;
  --color-third: #4dd2c4;
  --color-fourth: #1fa496;
  --color-fifth: #063e37;
  --color-sixth: #bef2ec;
  --color-primary-gradient: #2a407897;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

/* FOR FOOTER AND HEADER */
nav {
  background: var(--color-sixth);
  height: 70px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 200px;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}

nav ul li a {
  color: var(--color-fifth);
  font-size: 17px;
  font-weight: 600;
  padding: 7px 13px;
  border-radius: 3px;
}

.nav__logo {
  height: 70px;
  margin-left: 200px;
}

a.active,
a:hover {
  background: var(--color-fourth);
  transition: 0.5s;
}

#logo__link {
  background-color: transparent;
  transition: none;
}

.checkbtn {
  font-size: 30px;
  color: var(--color-primary);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.footer {
  padding: 1rem 0.2rem;
  background-color: var(--color-sixth);
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer__item {
  margin-right: 3rem;
}

.footer__link {
  font-size: 0.8rem;
  color: var(--color-primary);
  text-decoration: none;
}

.footer__logo {
  height: 6rem;
  display: block;
  margin: 0 auto;
  /* margin-bottom: 5rem; */
}

.footer__copyright {
  font-size: 0.6rem;
  color: var(--color-primary);
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 0.7rem;
}

.no-scrolling {
  overflow: hidden;
}

/* @media (max-width: 952px) {
  .nav__logo {
    height: 75px;
    padding-left: 50px;
    padding-top: 10px;
  }
  nav ul li a {
    font-size: 16px;
  }
} */

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  .nav__logo {
    margin-left: 20px;
  }

  ul {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--color-fourth);
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: var(--color-secondary);
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/* FOR SEARCH SECTION */
@media (max-width: 860px) {
  .search-area {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }

  .search-area input {
    width: 30%;
  }

  .search-area select {
    width: 50%;
  }
}

.container {
  width: 100%;
  min-height: 600px;
  padding: 2%;
  background-image: linear-gradient(var(--color-primary-gradient), var(--color-primary-gradient)), url(../resources/images/background.jpg);
  background-position: center;
  background-size: cover;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

.container h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.container h3 {
  color: white;
  font-size: 18px;
  text-align: center;
  padding-bottom: 30px;
}

.search-area {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search-area input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: var(--color-primary);
}

::placeholder {
  color: var(--color-primary);
}

.search-area select {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  scroll-behavior: smooth;
  padding: 24px 20px;
  font-size: 20px;
  color: var(--color-primary);
}

.search-area button img {
  width: 25px;
}

.search-area button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: var(--color-third);
  cursor: pointer;
  /* float: right; */
}

/* FOR CALENDAR */
.container-calendar {
  margin-top: 120px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
