/* Main section CSS */

section {
  /* background-image: linear-gradient(var(--color-primary-gradient), var(--color-primary-gradient)), url(../resources/images/contact.jpg); */
  width: 100%;
  background-color: white;

  /* background-size: cover;
    background-position: center; */
}
.welcome {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0;
}

.welcome .content {
  max-width: 800px;
  text-align: center;
}
.welcome .content h2 {
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  color: var(--color-primary);
}
.welcome .content p {
  font-weight: 300;
  color: var(--color-primary);
  padding-bottom: 10px;
}
.search-area {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  background: rgba(93, 204, 229, 0.5);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 5px 8px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search-area input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 5px 5px;
  font-size: 14px;
  color: var(--color-primary);
}

::placeholder {
  color: var(--color-primary);
}

.search-area select {
  background: transparent;
  border-color: rgba(93, 204, 229, 0.5);
  scroll-behavior: smooth;
  padding: 5px 5px;
  font-size: 14px;
  color: var(--color-primary);
}

.search-area button img {
  width: 25px;
}

.search-area button {
  border: 0;
  border-radius: 50%;
  width: 45px;
  height: 40px;
  background: var(--color-third);
  cursor: pointer;
  /* float: right; */
}
.row {
  /* border: 1px solid orange; */
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1em;
  text-align: center;
}
.column {
  width: 100%;
  /* border: 1px solid black; */
  padding: 0.5em 0;
}
section h2 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: var(--color-primary);
}
.card {
  box-shadow: 0 0 2.2em rgba(29, 22, 105, 0.386);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: var(--color-primary);
  margin-top: 10px;
}

.card .img-container {
  width: 8em;
  height: 8em;
  background-color: var(--color-fourth);
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card:hover {
  cursor: pointer;
}
.card:hover .img-container {
  transform: scale(1.15);
}
.card img {
  width: 100%;
  border-radius: 50%;
}
.card h3 {
  font-weight: 700;
  color: var(--color-primary);
  font-size: 20px;
}
.card h5 {
  /* font-weight: 500; */
  padding-top: 5px;
  color: var(--color-primary);
  font-size: 13px;
}
.card p {
  /* font-weight: 500; */
  padding-top: 5px;
  color: var(--color-primary);
  font-size: 13px;
}

.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.card .icon-link {
  text-decoration: none;
  color: var(--color-fourth);
  font-size: 1.4em;
  padding: 0.5rem 1rem;
}
.card icon-link:hover {
  color: white;
}
/* Responsiveness */

@media (max-width: 860px) {
  .search-area {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }

  .search-area input {
    width: 30%;
  }

  .search-area select {
    width: 50%;
  }
  .content h2 {
    width: 90% !important;
    text-align: center !important;
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 900px) {
  /* section {
        padding: 1em 4em;
      } */
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}
